.popup {
  position: fixed;
  display: flex;
  flex: 1;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 11;
  background-color: rgba(255, 255, 255, 0.8);
  justify-content: right;
  align-items: center;
  cursor: pointer;
  

  &__close-icon {
    position: absolute;
    width: 26px;
    right: 16px;
    top: 16px;
    cursor: pointer;
  }
}

.popup__box {
  position: relative;
  min-width: 300px;
  -webkit-animation: slideIn .6s forwards;
  -moz-animation: slideIn .6s forwards;
  animation: slideIn .6s forwards;

  height: 100%;
  min-height: 100%;
  padding: 50px 30px 30px;
  background-color: #fff;
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  box-shadow: 0px 0px 12px -5px rgba(22, 22, 22, 0.4);
  cursor: initial;
  overflow-y: auto;
}

@-webkit-keyframes slideIn {
  0% {
    transform: translateX(120%);
  }
  100% {
    transform: translateX(0);
  }
}
@-moz-keyframes slideIn {
  0% {
    transform: translateX(120%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideIn {
  0% {
    transform: translateX(120%);
  }
  100% {
    transform: translateX(0);
  }
}
